/** Importation des polices d'écriture */
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Mont-Serrat.ttf);
}

@font-face {
    font-family: "Orbitron";
    src: url(../fonts/Orbitron.ttf);
}

/** Bootstrap **/

@import "../node_modules/bootstrap/scss/bootstrap";

/** Variables couleurs du fichier */

$dark: #121212;
$yellow: #FFEB3B;
$purpleDark: #4A148C;
$brightPurple: #7C4DFF;
$brightGrey: #E0E0E0;
$transparentPurple: #7c4dff3a;

/** Fichiers SCSS **/

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
}

body {
    background-color: $dark;
    color: $brightGrey;
}


footer {
    border-top: 2px solid $yellow;
}

.brand-logo {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.brand-text {
    color: #4A148C;
    width: fit-content;
    font-family: 'Orbitron';
    text-shadow: 10px 10px 4px $transparentPurple;
}

.brand-text:hover {
    color: $yellow;
}

.nav-link {
    font-family: 'Montserrat' !important;
    color: $brightPurple;
}

.nav-link:hover {
    color: $yellow;
}

.nav-link:focus {
    color: $yellow;
}

.header-banner {
    width: 100%;
    height: 281px;
    background-image: url(../img/banner_1920.webp);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#participate {
    @extend .border;
    border-color: $yellow !important;
    padding: 10px;
}

#participate:hover {
    border-color: $purpleDark !important;
    background-color: $brightPurple;
}

.banner-text {
    color: $brightGrey;
    width: 50%;
    font-family: 'Orbitron';
    margin: 10px;
    text-shadow:
        2px 2px 4px $dark,
        -2px 2px 4px $dark,
        2px -2px 4px $dark,
        -2px -2px 4px $dark;
}


.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title1 {
    font-family: 'Montserrat';
}

.description {
    font-family: 'Roboto';
}

.title2 {
    color: $purpleDark;
    font-family: 'Montserrat';
    text-shadow: 5px 5px 10px $purpleDark;
}

.main-title {
    text-decoration: underline;
}

.title3 {
    font-family: 'Montserrat';
}

.description {
    font-size: 20px;
    margin: 5px;
    width: 85%;

    text-align: center;
    justify-content: center;
}

.medium-title {
    display: flex;
    justify-content: center;
}



.card {
    border: 2px solid $yellow;
    margin: 15px;
    width: fit-content;
    box-shadow: 4px 4px 4px $transparentPurple;
}

.card-img {
    width: fit-content;
}

.card-text {
    font-family: 'Montserrat';
    color: $brightGrey;
    text-shadow:
        2px 2px 4px $brightPurple,
        -2px 2px 4px $brightPurple,
        2px -2px 4px $brightPurple,
        -2px -2px 4px $brightPurple;
}

.col {
    display: flex;
    flex-direction: column;
}

input {
    font-family: 'Roboto';
    box-shadow: 0px 4px 4px $transparentPurple;
}

label {
    font-family: 'Roboto';
    text-shadow: 0px 4px 4px $transparentPurple;
}

.participation-form-check {
    margin: 15px;
}

.consent {
    font-family: 'Roboto';
}

.btn {
    color: $yellow;
    width: fit-content;
    margin: 15px;
    font-family: 'Roboto';
}

.container-participation {
    display: block;
}

.participation-form {
    display: flex;
    flex-direction: column;
}

.footer-text {
    font-family: 'Roboto';
}